:root{
    --text: #040506;
    --background: #e2e7ee;
    --banner:#c7d6eb;
    --primary: #344156;
    --secondary: #c6cedd;
    --accent: #506586;
    --third: #1c293e;
}
.link{
    text-decoration: none;
    color: var(--text) ;
}
html {
    margin:0;
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    color: var(--text);
    background-color: var(--secondary);
    text-decoration: none;
    text-align: center;
}
main{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background);
}
.up{
    display: inline-block;
    position: sticky;
    top:90%;
    margin-left: 85vw;
    border: 2px solid black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 0;
}
.up > p{
    margin-top: 10px;
    margin-bottom: auto;
    padding: 0;
}
.link_block, .link_inline{
text-align: center;
transition: 0.3s;
width: 40vw;
height: auto;

}
.link_block:hover{
    background-color: var(--third);
    color: #c6cedd;
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--primary);
    transition: 0.3s;
    transform: scale(1.07);
    transition: 0.3s;
    border-radius: 5px;
}
.link_inline:hover{
    background-color: var(--third);
    color: #c6cedd;
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--primary);
    transition: 0.3s;
    transform: scale(1.07);
    transition: 0.3s;
    border-radius: 5px;
}

.title{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.info{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.content_title{
    display:flex;
    justify-content: space-around;
    position: sticky;
    top:-1px;
    background-color: var(--banner);
    letter-spacing: 10px;
    font-size: 25px;
}

.info > .block, .inline{
    display: inline-block;
    width: 30vw;
}
.inline_title, .block_title{
    position: sticky;
    top: 50px;
    border: 2px solid black;
}

.category{
    margin:2rem;
    border: 2px solid var(--accent);
    border-radius: 4px;
    transition: 0.3s;
}
.category:hover{
    background-color: var(--secondary);
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--primary);
    transition: 0.3s;
    transform: scale(1.07);
    transition: 0.3s;
}
.up:hover{
    background-color: var(--secondary);
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--primary);
    transition: 0.3s;
    transform: scale(1.02);
    transition: 0.3s;    
}

p{
    color: var(--text);
}
 .block_text, .inline_text{
    /* border:2px solid black; */
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 40px;
 }
.block_main, .inline_main{
    width: 60vw;
    height: 75vh;
}
.block_img, .inline_img{
display: flex;
height: 25vh;
width: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}





::-webkit-scrollbar{
    width: 0.8em;
    background-color: rgba(128, 128, 128, 0.418);
    height: 0px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent);
    border-radius: 5px;}