:root{
    --text: #040506;
    --background: #e2e7ee;
    --banner:#c7d6eb;
    --primary: #344156;
    --secondary: #c6cedd;
    --accent: #506586;
    --third: #1c293e;
}
a{
    text-decoration: none;
    color: var(--text) ;
}
html {
    margin:0;
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    color: var(--text);
    background-color: var(--secondary);
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
}
main{
    width: min(80%, 90vw);
    background-color: var(--background);
}
.up{
    display: inline-block;
    position: sticky;
    top:90%;
    margin-left: 85vw;
    border: 2px solid black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 0;
}
.up > p{
    margin-top: 10px;
    margin-bottom: auto;
    padding: 0;
}



.link_block, .link_inline{
text-align: center;
transition: 0.3s;
width: 40vw;
height: auto;

}
.link_block:hover{
    background-color: var(--third);
    color: #c6cedd;
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--primary);
    transition: 0.3s;
    transform: scale(1.07);
    transition: 0.3s;
    border-radius: 5px;
}
.link_inline:hover{
    background-color: var(--third);
    color: #c6cedd;
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--primary);
    transition: 0.3s;
    transform: scale(1.07);
    transition: 0.3s;
    border-radius: 5px;
}

h1{
    font-size: 5vw;
    font-weight: 100;
    letter-spacing: 1rem;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    margin:0;
    text-align: right;
}
.banner{
    display: flex;
    justify-content: center;
}
.info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: min-content; */
}

.info > .block, .inline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 20px;
    flex-grow: 1;
    margin-bottom: 20px;
}
.block_title, .inline_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    background-color: var(--accent);
    height: min(11vw, 90px);
    /* border-radius: 1rem; */
    width: 100%;
}
h2{
    margin:0;
    font-size: max(4vw, 40px);
}


.category{
    border: 2px solid var(--accent);
    border-radius: 4px;
    transition: 0.3s;
    width: min(460px, 90vw);
}
.category:hover{
    background-color: var(--secondary);
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--primary);
    transition: 0.3s;
    transform: scale(1.07);
    transition: 0.3s;
}
.up:hover{
    background-color: var(--secondary);
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--primary);
    transition: 0.3s;
    transform: scale(1.02);
    transition: 0.3s;
}

p{
    color: var(--text);
}
 .block_text, .inline_text{
    /* border:2px solid black; */
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 40px;
 }
.block_main, .inline_main{
    width: 60vw;
    height: 75vh;
}
.block_img, .inline_img{
display: flex;
height: 25vh;
width: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}





::-webkit-scrollbar{
    width: 0.8em;
    background-color: rgba(128, 128, 128, 0.418);
    height: 0px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent);
    border-radius: 5px;}

@media screen and (max-width:600px) {
    main{
        width: 100%;
    }
    .up{
        display: none;
    }
}