$contWidth: 1280px;

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: $contWidth;
}

.books {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1em;
  box-sizing: border-box;
  .book {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid gray;
    &__image {
      width: 100%;
      height: fit-content;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      display: flex;
      justify-content: center;
    }
    &__title {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0.5em 0;
      overflow: hidden;
    }
    &__author {
      font-size: 0.8em;
      color: #999;
      margin: 0.5em 0;
    }
    &__price {
      font-size: 1.2em;
      font-weight: bold;
      // margin: 0.5em 0;
    }

    &__button {
      width: 100%;
      padding: 0.5em 1em;
      border: 1px solid #999;
      border-radius: 5px;
      background-color: #fff;
      color: #999;
      cursor: pointer;
      &:hover {
        background-color: #999;
        color: #fff;
      }
    }
  }
}

.top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 15px;

  .block {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 2px solid gray;
    padding: 10px;
  }
  .prices{
    display: flex;
    flex-direction: column;
    input, label{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    div{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
