.easy-solution{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    h2{
        font-size: 3rem;
        font-weight: 500;
        font-family: DM sans;
        margin: 0 6rem;
        /*  */
        text-align: center;
    }


}